* {
  box-sizing: border-box;
}

td,
th {
  padding: 10px;
}

thead {
  color: white;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

thead > tr > th:nth-child(1) {
  background-color: #7787a9;
}

thead > tr > th:nth-child(2) {
  background-color: #4d628f;
}

thead > tr > th:nth-child(3) {
  background-color: #2a4271;
}

thead > tr > th:nth-child(4) {
  background-color: #152857;
}

tbody th {
  text-align: left;
}

tbody td {
  text-align: center;
}

tbody tr:nth-child(2n + 1) {
  background-color: #dbdbdb;
}

tbody tr:nth-child(2n) {
  background-color: #e6e6e6;
}

tr td:nth-child(2n) {
  background-color: #f3f3f330;
}
