* {
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  min-width: 280px;
  width: 100%;
  padding: 15px;
  box-shadow: 0 0 10px purple;
  border-radius: 5px;
  text-align: center;
}

.edit-btn {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: purple;
}

.user-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.membership-section {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.social-links-list {
  display: flex;
  gap: 15px;
}

.social-lnk {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 50%;
}
