* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

button {
  background-color: aqua;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  transition: background-color 1s linear, box-shadow 1s linear,
    transform 1s linear;
}

button:hover {
  background-color: red;
  box-shadow: 0 0 20px sienna;
  transform: scale(1.1);
}
